//<_ibg>==================================================================================================================================*/

._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
//<_ibg>========================================================================================================================================*/
//<ПЕРЕМЕННЫЕ>==================================================================================================================================*/
@import "base/variables";

//</ПЕРЕМЕННЫЕ>==================================================================================================================================*/

//<МИКСИНЫ>======================================================================================================================================*/
@import "base/mixins";

//</МИКСИНЫ>=====================================================================================================================================*/

//<ШРИФТЫ>=======================================================================================================================================*/

//<ССЫЛКА С ГУГЛА>===============================================================================================================================*/

//<ШРИФТЫ ПО УМОЛЧАНИЮ>===========================================================================================================================*/
$fontfamily: Montserrat;
//<ШРИФТ С БИБЛИОТЕКИ>============================================================================================================================*/
@import "libs/fonts";
//</ШРИФТЫ>=======================================================================================================================================*/

//<ОБНУЛЕНИЯ, ОБЩИЕ ПАРАМЕТРЫ>====================================================================================================================*/
@import "libs/nullstyle";
//</ОБНУЛЕНИЯ, ОБЩИЕ ПАРАМЕТРЫ>===================================================================================================================*/

/*<ОБОЛОЧКА>======================================================================================================================================*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/*</ОБОЛОЧКА>======================================================================================================================================*/

/*<ОСНОВНАЯ СЕТКА>=================================================================================================================================*/
._container {
	max-width: 1046px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: content-box;
}
//</ОСНОВНАЯ СЕТКА>================================================================================================================================*/

//<BODY>===========================================================================================================================================*/
//<PAGE BLOCKS>====================================================================================================================================*/
.page {
	flex: 1 1 auto;
}
.page__who {
	background: $w;
}
.page__consulting {
	background: $w;
}
//</PAGE BLOCKS>===================================================================================================================================*/
@import "blocks/BEM";
@import "blocks/header";
@import "blocks/main";
@import "blocks/page-services";
@import "blocks/pros";
@import "blocks/advice";
@import "blocks/who";
@import "blocks/companies";
@import "blocks/subscribe-form";
@import "blocks/get-touch";
@import "blocks/consulting";
@import "blocks/footer";

// iframe setting
@import "blocks/iframe";
//</BODY>==========================================================================================================================================*/
