.subscribe-form {
	position: relative;
	padding: 0 0 20px 0;
	&::before {
		content: "";
		width: 100%;
		height: 77px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		background: $all;
	}
}
.subscribe-form__container {
	padding: 0 32px;
}
@media (max-width: 1100px) {
	.subscribe-form__container {
		padding: 0;
	}
}
.subscribe-form__block {
	padding: 30px 50px;
	background: #17213c;
	border-radius: 2px;
	display: flex;
	flex-wrap: wrap;
	// justify-content: space-between;
}
@media (max-width: 820px) {
	.subscribe-form__block {
		padding: 30px 50px;
	}
}
@media (max-width: 420px) {
	.subscribe-form__block {
		padding: 30px 20px;
	}
}
.subscribe-form__text {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px/24px * 100%;
	letter-spacing: 0.1px;
	color: $w;
	flex: 0 1 50%;
}
@media (min-width: 820px) {
	.subscribe-form__text {
		h3 {
			max-width: 350px;
			font-size: 21px;
		}
	}
}
@media (max-width: 420px) {
	.subscribe-form__text {
		h3 {
			font-size: 20px;
		}
	}
}
@media (max-width: 820px) {
	.subscribe-form__text {
		flex: 1 1 100%;
		text-align: center;
		padding: 0 0 20px 0;
	}
}
@media (max-width: 420px) {
	.subscribe-form__text {
		padding: 0 0 15px 0;
	}
}
.subscribe-form__form {
	flex: 0 1 50%;
}
@media (max-width: 820px) {
	.subscribe-form__form {
		flex: 1 1 100%;
	}
}
.subscribe-form__type-text {
	background: #f9f9f9;
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
	border-radius: 5px 0 0 5px;
	min-height: 58px;
	flex: 1 1 74%;
	display: flex;
	padding: 0 0 0 20px;
}
.subscribe-form__button {
	flex: 0 1 26%;
	border-radius: 0 5px 5px 0;
	line-height: 28px/14px * 100%;
	text-align: center;
	letter-spacing: 0.2px;
	background: #ff7b47;
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
	padding: 0 22px;
	min-height: 58px;
	a {
		color: #ffffff;
	}
	&:hover {
		border: 1px solid #ff7b47;
		background: none;
		transition: 0.4s;
	}
}
@media (max-width: 420px) {
	.subscribe-form__button {
		padding: 0 12px;
	}
}
#subscribe-form {
	display: flex;
}